* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: relative;
}
/* body {
    display: block;
    flex-direction: column;
    align-items: center;
} */
.title-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: red;
}
.title {

    font-size: 32px;
    justify-content: center;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 6rem; */
    /* min-width: 500px; */
    height: 100vh;

}

.grid-container {
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    width: 50vw;
}
/* results container, middle thingy */
.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    grid-row:  2/ 3;        
}


.player {
    grid-column: 1 / 2;
    grid-row: 1 / 4;

}

.computer {
    grid-column: 3 / 4;
    grid-row: 1 / 4;

}

/* Left and Right Tabs */
.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-div > img, .computer-div > img {
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    outline: none;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}


/* Results */
.result-icons {
    display: flex;
    align-items: center;

}

.result-icons img {
    height: 100px;
    width: 100px;
}

/* Media Queries */

@media (max-width: 800px) {

    .grid-container {
        max-width: 480px;
        height: 50vh;
    }

    .result-icons {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

body {
    background-color: whitesmoke

}

.endGame {
    pointer-events: none;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top  */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height:100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    background-color: red;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }